[project]
	description = my personal repo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vasuenduri
[access "refs/for/refs/*"]
	read = group user/vasuenduri
	push = group user/vasuenduri
	label-Code-Review = -2..+2 group user/vasuenduri
	label-Verified = -1..+1 group user/vasuenduri
	rebase = group user/vasuenduri
	removeReviewer = group user/vasuenduri
	submit = group user/vasuenduri
[access "refs/heads/*"]
	read = group user/vasuenduri
	create = group user/vasuenduri
	push = +force group user/vasuenduri
	pushMerge = group user/vasuenduri
[access "refs/tags/*"]
	push = +force group user/vasuenduri
	pushTag = group user/vasuenduri
	pushSignedTag = group user/vasuenduri
